header{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    transition: 0.5s;
    z-index: 100;
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-bar{
            height: 30px;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
        }
        .menu-bar:active{
            display: none;
            transition: 0.8s;
        }
        .logo{
            height: 50px;
            animation-name: opacityLogo;
            animation-duration: 5s;
            cursor: pointer;
            transition: 0.5s;
        }
    }
}
header::after{
    content: "";
    position: absolute;
    height: 2%;
    width: 80%;
    bottom: 0;
    background-color: white;
    animation-name: animate;
    animation-duration: 5s;
    transition: 1.5s;

}
.black-header{
    background-color: #000000e3;
    backdrop-filter: blur(10px);
    z-index: 100;
}
@keyframes opacityLogo {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes animate {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}



// MEDIA QUERIES

@media screen and ( max-width: 576px) {
    header{
        nav{
            justify-content: space-between;
            .menu-bar{
                opacity: 1;
                visibility: visible;
            }
            .logo{
                height: 35px;
                left: 0;
                top: 0;
            }
        }
    }
    header::after{
        left: 0;
        width: 50%;
    }
    @keyframes animate {
        0%{
            width: 0%;
        }
        100%{
            width: 50%;
        }
    }
}
@media screen and ( max-width: 768px) {
    header{
        nav{
            justify-content: space-between;
            .menu-bar{
                opacity: 1;
                visibility: visible;
            }
            .logo{
                height: 35px;
                left: 0;
                top: 0;
            }
        }
    }
    
}
