.shopping-cart{
    position: fixed;
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: #000000c7;
    backdrop-filter: blur(10px);
    color: white;
    padding: 15px;
    z-index: 200;
    margin: 0;
    transform: translateX(5000px);
    transition: 0.5s;
    .close-button{
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        font-size: 30px;
        margin: 15px 20px;
        cursor: pointer;
    }
    h2{
        text-align: center;
        font-size: 25px;
        margin: 30px 0;
    }
    .total-cart-price{
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        margin: 15px auto;
        padding: 15px;
        p{
            font-size: 25px;
        }
        i{
            font-size: 35px;
            color: white;
            cursor: pointer;

        }
    }
    .cart-container{
        height: 80%;
        padding: 15px;
        overflow-y: auto;
        .cart-product{
            position: relative;
            height: 180px;
            display: flex;
            justify-content: flex-start ;
            align-items: center;
            background-color: white;
            color: black;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.137);
            img{
                height: 80px;
                margin: 0 30px 0 10px;
            }
            .cart-title-product{
                font-size: 18px;
                font-weight: 500;
                width: 70%;

            }
            .cart-price-product{
                display: flex;
                justify-content: space-between;
                width: 52%;
                font-size: 20px;
                font-weight: 700;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 15px;
            }
            .cart-close-product{
                position: absolute;
                font-size: 30px;
                top: 0;
                right: 0;
                margin: 5px 20px;
                color: rgba(255, 0, 0, 0.589);
                cursor: pointer;
            }
        }
    }
    .cart-container::-webkit-scrollbar {
        width: 10px;
    }
    .cart-container::-webkit-scrollbar-track {
        background-color: rgba(20, 20, 20, 0.836);
    }
    .cart-container::-webkit-scrollbar-thumb {
        background-color: white;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
    }
}
.cart-icon{
    position: fixed;
    font-size: 30px;
    color: white;
    background-color: #301A4B;
    padding: 20px;
    text-align: center;
    top: 70%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.623);
    cursor: pointer;
    transition: 0.5s;
    z-index: 20;
    p{
        font-size: 25px;
        margin-top: 15px;
    } 
}

.delete-animation{
    animation-name: deleteProduct;
    animation-duration: 3s;
}
@keyframes deleteProduct {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


// MEDIA QUERIES

@media screen and ( max-width: 1200px) {
    .shopping-cart{
        width: 100%;
        height: 100vh;
        .total-cart-price{
            i{
                font-size: 30px;
            }
        }
        .cart-container{
            height: 75%;
            .cart-product{
                height: auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    height: 150px;
                    margin-bottom: 20px;
                }
                .cart-title-product{
                    margin-bottom: 40px;
                    width: 100%;
                    text-align: center;
                }
                .cart-price-product{
                    display: flex;
                    justify-content: space-between;
                    margin: 20px auto;
                    width: 80%;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    h2{
        font-size: 15px;
    }
    .cart-icon{
        top: 80%;
    }


}